@import "bootstrap";
@import "bootstrap-responsive";

$header_blue: #d9e5f2;
$header_orange: #d4d6d9;
$header_yellow: #fbddc8;

a{
    color: #EF7625
}

div#site_bar{ display:none; }

nav{
    text-align: center;   
    .nav-header{
        a{
            color: #369;
            &:hover { background-color: transparent }
        }      
        .nav-list li a{
            color: #EF7625;
            &:hover { background-color: $header_blue }
        }
    }    
}

.sidebar-nav{
    //border-style: dashed;
    border-color: #999;
    border-width: 0 1px 0 0;
}

body{
    background-image: url("/assets/background.png");
    background-repeat: repeat-x;
    background-position-x: 80px;
}

.logo{
    padding: 2px 0 0 28px;
}

.title{
    background-image: url("/assets/banner.png");
    background-repeat: no-repeat;
    background-position: top left;
    margin:0;
    padding:0;
    height: 93px;
    margin-left: 60px;
}