@import "bootstrap";
@import "bootstrap-responsive";

$header_blue: #d9e5f2;
$header_orange: #d4d6d9;
$header_yellow: #fbddc8;

$text_blue: #369;
$text_orange: #C90;

a{ color: #EF7625 }

body{ color: $text_blue }

#body_content{
    max-width:570px;
}

h2{ color: $text_blue }
h3{ color: $text_orange }

h4{ 
    color: $text_blue;
    border-color: $text_blue;
    border-style: solid;
    border-width: 0 0 1px 0;
}

div#site_bar{ display:none; }

nav{
    text-align: center;   
    .nav-header{
        a{
            color: $text_blue;
            &:hover { background-color: transparent }
        }      
        .nav-list li a{
            color: #EF7625;
            &:hover { background-color: $header_blue }
        }
    }    
}

.sidebar-nav{
    //border-style: dashed;
    border-color: #999;
    border-width: 0 1px 0 0;
}

body{
    background-image: url("/assets/background.png");
    background-repeat: repeat-x;
    background-position-x: 80px;
}

.logo{
    padding: 2px 0 0 28px;
}

.title{
    background-image: url("/assets/banner.png");
    background-repeat: no-repeat;
    background-position: top left;
    margin:0;
    padding:0;
    height: 93px;
    margin-left: 60px;
}

.sponsors{
    text-align: center;
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    
    .sponsor{
        line-height: 100px;
        height: 70px;
        vertical-align: middle;
    }
}

abbr{
    display:none;
}